<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
  <p id="notice"><%= notice %></p>
  <h1>Look! Kittens!</h1>
  </div>
</div>


      <% @kittens.each do |kitten| %>
      <div class="row">
        <div class="columns small-12 medium-8 medium-centered"><a href="<%= kitten_path(kitten.id) %>">
          <span><i class="fa fa-user"></i><br><small>posted by</small><br><h4><%= kitten.user.name %></h4></span>
          <image src="<%= kitten.link %>" />
          </a>
          </div>
          </div>
      <% end %>


<div class="row">
  <div class="large-12 columns">
    <%= link_to 'New Kitten', new_kitten_path %>
  </div>
</div>