<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  	<div class="row">
  		<div class="column small-2 small-offset-2 left">
  			<%= image_tag 'KittenSpace-logo.png' %>
  		</div>
  		<div class="column small-8 right">
  			<% if user_signed_in? %>
	  			<ul class="inline-list right" style="margin-top: 15px">
	  				<li>
	  					<%= link_to "Post New Kitten", new_kitten_path, class: "button tiny" %>
	  				</li>
	  				<li>
	  					<%= link_to "Sign out",destroy_user_session_path, method: :delete, class: "button tiny" %>
	  				</li>
	  			</ul>
  			<% end %>
  		</div>
  	</div>

    <%= yield %>

  </body>
</html>
